.iceCreamMenu{
    padding-top: 170px;
    .iceCreamProducts{
        .productSearch {
            margin: 50px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            border-radius: 40px;
            box-shadow: 10px 10px 20px 0.5px rgba(0, 0, 0, 0.2);
            height: 80px;
            width: 100%;
            max-width: 900px;
            padding: 20px 20px;
            input {
                width: 80%;
                height: 30px;
                border: 0;
                outline: 0;
                padding-left: 50px;
                font-size: 20px;
            }
            a {
                background-color: pink;
                font-family: "맑은고딕", sans-serif;
                font-weight: bold;
                width: 20%;
                height: 50px;
                padding: 10px 5px;
                border-radius: 25px;
                font-size: 20px;
            }
            span {
                background-color: pink;
                font-family: "맑은고딕", sans-serif;
                font-weight: bold;
                width: 20%;
                height: 50px;
                padding: 10px 5px;
                border-radius: 25px;
                font-size: 20px;
                cursor: pointer;
            }
            
        }
        .brand{
            width: 100%;
            max-width: 1000px;
            margin: 50px auto;
            ul{
                display: flex;
                justify-content: center;
                li{
                    display: flex;
                    align-items: center;
                    p {
                        margin: 5px 10px;
                        font-size: 20px
                    }
                }
            }
            
        }
        h2 {
            font-size: 50px;
            color: #333;
            margin-top: 80px;
            text-align: center;
        }
        .productLists{
            .prosUls {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap; 
                li {
                    width: 21%;
                    margin: 30px 30px 50px;
                    .productList {
                        border: 1px solid #eee;
                        width: 100%;
                        height: 350px;
                        display: flex;
                        border-radius: 20px;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        transition: 0.3s;
                        cursor: pointer;
                        &:hover {
                            transform: scale(105%);
                            box-shadow: 10px 10px 20px 0.5px rgba(0, 0, 0, 0.2);
                        }
                        img{
                            width: 280px;
                            height: 250px;
                        }
                        .productTitle {
                            width: 250px;
                            border-top: 1px solid #ccc;
                            h4 {
                                padding-top: 20px;
                                font-size: 30px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1260px) {
        .iceCreamMenu{
        .iceCreamProducts{
            
            .productLists{
                .prosUls { 
                    li {
                        margin: 30px 40px;
                        width: 18.6%;
                        .productList {
                            height: 330px;
                        img{
                            width:230px;
                            height: 220px; 
                        }
                        .productTitle {
                           width: 200px;
                            h4 {
                               font-size:25px;
                            }
                        }
                        }
                    }
                }
            }
        }
    }           
}
@media screen and (max-width: 1006px) {
    .iceCreamMenu{
    .iceCreamProducts{
        .productSearch {
            max-width: 800px;
            span {
                width: 18%;
                height: 50px;
                font-size: 18px;
            }
            
        }
        .productLists{
            .prosUls {
                li {
                    margin: 30px 30px;
                    width: 27%;
                    .productList {
                        height: 330px;
                    img{
                        width:230px;
                        height: 220px; 
                    }
                    .productTitle {
                       width: 200px;
                        h4 {
                           font-size:25px;
                        }
                    }
                    }
                }
            }
        }

    }
}           
}

@media screen and (max-width: 762px) {
    .iceCreamMenu{
    .iceCreamProducts{
        .productSearch {
            max-width: 600px;
            height: 60px;
            a {
                width: 18%;
                height: 40px;
                padding: 5px 5px;
                font-size: 18px;
            }
            span {
                width: 18%;
                height: 40px;
                font-size: 18px;
                padding: 5px 5px;
            }  
        }
        h2 {
            font-size: 40px;
        }
        .productLists{
            .prosUls {
                li {
                    margin: 30px 30px;
                    width: 41.5%;
                    .productList {
                        height: 330px;
                    img{
                        width:230px;
                        height: 220px; 
                    }
                    .productTitle {
                       width: 250px;
                        h4 {
                           font-size:25px;
                        }
                    }
                    }
                }
            }
        }

    }
}           
}

@media screen and (max-width: 622px) {
    .iceCreamMenu{
        .iceCreamProducts{
            .productSearch {
                max-width: 500px;
            }
            h2 {
                font-size: 30px;
            }
            .productLists{
                .prosUls {
                    li {
                        margin: 30px 10px;
                        width: 40%;
                        padding:0px 50px;
                        .productList {
                            width: 230px;
                            height: 330px;
                        img{
                            width:230px;
                            height: 220px; 
                        }
                        .productTitle {
                        width: 200px;
                            h4 {
                            font-size:25px;
                            }
                        }
                        }
                    }
                }
            }
            .paging {
                .page{
                    .numberLists {
                        margin: 20px 50px;
                    }
                }
            }

        }
    }           
}

@media screen and (max-width: 476px) {
    .iceCreamMenu{
        .iceCreamProducts{
            .productSearch {
                max-width: 400px;
                input {
                    padding-left: 20px;
                    font-size: 18px;
                }
                a {
                    width: 18%;
                    height: 40px;
                    padding: 10px 5px;
                    font-size: 15px;
                }
                span {
                    width: 18%;
                    height: 40px;
                    font-size: 15px;
                    padding: 10px 5px;
                } 
            }
            h2 {
                font-size: 30px;
            }
            .productLists{
                .prosUls {
                    li {
                        margin: 30px 70px;
                        width: 50%;
                        .productList {
                            height: 330px;
                        img{
                            width:230px;
                            height: 220px; 
                        }
                        .productTitle {
                            width: 200px;
                            h4 {
                            font-size:25px;
                            }
                        }
                        }
                    }
                }
            }
            .paging {
                .page{
                    width: 100%;
                    max-width: 400px;
                    .numberLists {
                        margin: 20px auto;
                        text-align: center;
                    }
                }
            }

        }
    }           
}