#myPage {
    padding-top: 200px;
    padding-bottom: 110px;
    .myPageForm {
        h2 {
            font-size: 40px;
            margin-bottom: 30px;
            text-align: center;
        }
        .myPageList {
            .myPageUl{
                display: flex;
                justify-content: center;
                font-size: 25px;
                margin-bottom: 40px;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        padding-left: 30px;
                    } 
                }
            }
            
        }
        h3 {
            font-size: 30px;
        }
        .catagoryList {
            display: flex;
            margin-top: 50px;
            justify-content: space-around;
            li{
                background-color: #ccc;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                cursor: pointer;
                &:hover{
                    background-color: #93BFCF;
                }
                h4{
                    font-size: 20px;
                    height: 45%;
                }
                p {
                    font-size: 15px;
                    width: 180px;
                    color:#333
                }
            }
            .leave {
                h4{
                    font-size: 20px;
                    height: 15%;
                }
                p {
                    font-size: 15px;
                    width: 180px;
                    color:#333
                }
            }
        }
        .myPageNotice {
            font-size: 30px;
            text-align: center;
            margin-top: 80px;
        }
    }
}

@media screen and (max-width: 762px) {
    #myPage {
        padding: 200px 30px 110px;
    }
}

@media screen and (max-width: 476px) {
    #myPage {
        padding: 200px 30px 80px;
        .myPageForm {
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 23px;
            }
            .catagoryList {
                flex-direction: column;
                margin-top: 30px;
                align-items: center;
                li{
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    margin-bottom: 30px;
                    height: 160px;
                    h4{
                        border-bottom: 1px solid #333;
                        padding-bottom: 5px;
                    }
                    p {
                        padding-top: 10px;
                    }
                }
                .leave {
                    h4{
                        height: 22%;
                    }
                }
            }
            .myPageNotice {
                font-size: 28px;
                text-align: center;
                margin-top: 40px;
            }
        }
    }
}