#bg1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: left;
    .sc1{
        border-radius: 10px;
        width: 1200px;
        color:#fff;
        text-align: center;
        transition: 1s;
        position: absolute;
        left: 20%;
        top: 20%;
        transform: translateY(-300px); 
        z-index: 1;
        h1{
            font-size: 80px;
        }
        
    }
    h2{
        margin-top: 500px;
        text-align: center;
        color:#fff;
        font-size: 40px
    }
    .scChange {
        transform: translateY(0);
    }
}
#bg1::after{
    content:"";
    background-image: url("http://localhost:3000/images/ice16.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    text-align: left;
    z-index: -1;
}

