.detailSlide{
    .slick-slider{
        width: 600px;
        height: 400px;
        border-radius: 20px;
        .slick-list{
            height: 400px;
            .slick-track{
                height:500px;
                top: 0px;
                left: 25%;
                transform: translate(-50%, -50%);
                .slick-slide {
                    img{
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
        .slick-arrow{

        }
        .slick-prev:before, .slick-next:before {
            color: #333;
            font-size: 30px;
        }
        .slick-prev, .slick-next {
            top:85%;
        }
        .slick-dots {
            display: flex;
            justify-content: space-between;
            width: 100%;
            bottom: 0px;
            li{
                width: 100px;
                height: 100px;
                border: 1px solid #ccc;
                a {
                    img{
                        width: 100px;
                        height: 100px
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 762px) {
    .detailSlide{
        .slick-slider{
            width: 400px;
            height: 400px;
            border-radius: 20px;
            .slick-list{
                height: 300px;
                .slick-track{
                    height:500px;
                    top: 0px;
                    left: 11%;
                    transform: translate(-50%, -50%);
                    .slick-slide {
                        img{
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
            }
            .slick-prev:before, .slick-next:before {
                color: #333;
                font-size: 30px;
            }
            .slick-prev, .slick-next {
                top:40%;
            }
            .slick-dots {
                display: flex;
                justify-content: space-between;
                width: 100%;
                bottom: 0px;
                padding-right: 10px;
                li{
                    width: 80px;
                    height: 80px;
                    border: 1px solid #ccc;
                    a {
                        img{
                            width: 80px;
                            height: 80px
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 476px) {
    .detailSlide{
        .slick-slider{
            margin: 0 auto;
        }
    }
}

