.moreIce {
    width:80%;
    height: 400px;
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%, -50%);
    div{
        img{
            width:300px;
        }
    }
}


