#welcome {
    display: flex;
    justify-content: space-between;
    width: 100%;
    #map {
        width: 50%;
        height: 350px;
        border-radius: 10px;
    }
    .storeAddress {
        width: 43%;
        height: 350px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        opacity: 0;
        transition: 2s;
        h3 {
            margin-top: 10px;
            font-size: 23px;
        }
        p {
            margin-top: 10px;
            margin-left: 0px;
            font-size: 18px;
            color: #333;
            line-height: 25px;
        }
    }
    .addressOn {
        opacity: 1;
    }
}

@media screen and (max-width: 762px) {
    #welcome {
        flex-direction: column;
        justify-content: space-between;
        #map {
            margin:0 auto;
            width: 60%;
            height: 250px;
            border-radius: 10px;
        }
        .storeAddress {
            width: 60%;
            height: 330px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin:20px auto;
            h3 {
                margin-top: 10px;
                font-size: 23px;
            }
            p {
                margin-top: 10px;
                margin-left: 0px;
                font-size: 17px;
                color: #333;
                line-height: 25px;
            }
        }
    }
  }

  @media screen and (max-width: 476px) {
    #welcome {
        #map {
            margin:0 auto;
            width: 80%;
            height: 250px;
            border-radius: 10px;
        }
        .storeAddress {
            width: 80%;
            height: 330px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin:20px auto;
            h3 {
                margin-top: 10px;
                font-size: 20px;
            }
            p {
                margin-top: 10px;
                margin-left: 0px;
                font-size: 15px;
                color: #333;
                line-height: 25px;
            }
        }
    }
  }


